<div class="modal fade" id="attachResume" role="dialog">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content" style="margin-right: auto;margin-left: auto;height: 40%; width: 50%;background: linear-gradient(rgba(1,0,0,0.9), rgba(1,0,0,0.75))	">
            <div class="modal-header modalHeader">
                <div class="modal-title col-md-6" style="color: #ffffff;">Attach your Resume</div>
                <div class="col-md-6 pull-right"><button type="button" class="close" data-dismiss="modal" style="color: #ffffff;">&times;</button></div>
            </div>

            <div class="modal-body" style="height: 100%">
                <div class="resumeAttachModal">

                    <div>
                        <h1>HEY THERE</h1>
                        <!--<form class="form-group" action="" method="">


                            <button type="file" ngf-select ng-model="resumeObj" name="file"
                                    ngf-max-size="4MB" required
                                    ngf-model-invalid="errorFile"   ngf-pattern="'.doc,.pdf,.docx'" > Browse {{resumeObj}}</button>


                            <div class="col-sm-12 field-margin">
                                <button type="submit" style="width: 100%"
                                        class="btn btn-primary btnLayout" ng-click="uploadResume(resumeObj)">Upload</button>
                            </div>



                            <div class="col-sm-12 field-margin">
                                <button type="submit" style="width: 100%"
                                        class="btn btn-primary btnLayout" ng-disabled="changeStatus" ng-click="applyWithResume()">Apply</button>
                            </div>
                        </form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>